table {
    empty-cells: show;
}

th {
    min-width: 10px;
}

input {
    max-width: 20px;
}

.calculator {
    text-align: center;
}

.calcTable {
    align-items: center;
    background-color: beige;
    border: 1px solid;
}